#container {
    width: 90%;
    border: 10px solid goldenrod;
    margin: 0 auto;
}

.row {
    background-color: tomato;
    margin: 10px;

}

p {
    padding: 10px;
    color: #eee;
    font-size: 2rem;
}

img {
    width: 100px;
    height: 100px;
    float: right;
    margin: 10px;
}

img #no-float {
    float: left;
}
